.otp-field{
  width: 38px;
  margin-right: 10px;
  padding-left: 12px;
  height: 40px;
    display:table-row;
    place-items: center;
    background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  font-size: 30px;
  
}

.row {
  display: grid;
  place-items:center;
  justify-content: center;
}

.btn {
  display: grid;
  place-items: center;
  display: block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #43B02A;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  align-content: center;
}

.container{
 place-items:center ;
}