/* student campaign */
.container textarea{
    background-color: #F9F1E9;
  }
  body{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
  }
  .container input[type="submit"]{
    width: 95px;
    height: 50px;
    border-radius: 5px;
    margin-left: 250px;
    background-color: #43B02A;
    color: white;
  }
  .container input[type="text"],
  input[type="email"]
  {
    border-radius: 10px;
    width: 200px;
    height: 30px;
  }
  
  .container input[type="checkbox"]{
    width: 29px;
    height: 20px;
  }
  
  .container form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .container{
     margin-bottom: 1rem;
  }
  .container label{
    font-size: 15px;
  }
  
  
  /* Styles for screens with a maximum width of 600px (e.g., mobile devices) */
  @media (max-width: 600px) {
  body {
  font-size: 10px; /* Decrease font size for smaller screens */
  }
  
  .container input[type="text"],
  .container input[type="email"],
  textarea {
  width: 100%; /* Make form fields full width on small screens */
  margin: 5px 0; /* Add some spacing between form fields */
  }
  
  .container input[type="submit"] {
  width: 120%; /* Make the submit button full width */
  margin-left: 0; /* Remove left margin */
  height: 120%;
  }
  
  .container table {
  width: 100%; /* Make the table full width on small screens */
  margin: 20px;
  }
  
  /* Center align the text within table cells */
  .container td {
  text-align: center;
  }
  }
  
  
  /* signup */
  
  .Signup-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .Signup-container .form-group {
  margin-bottom: 1rem;
  }
  
  .Signup-container label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
  }
  
  .Signup-container input[type="text"],
  .Signup-container input[type="password"],
  .Signup-container input[type="Email"]
  
  {
  width: 120%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 15px;
  height: 10%;
  }
  .Signup-container input[type="checkbox"]{
    margin-left: 100px;
  }
  
  .Signup-container button[type="submit"] {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  }
  
  .Signup-container button[type="submit"]:hover {
  background-color: #023004;
  }
  
  .Signup-container h1 {
  margin-bottom: 20px;
  font-size: 50px;
  color: #0df155;
  font-weight: bold;
  }
  .Signup-container .agree{
    font-size: 15px;
  }