*{
    box-sizing: border-box;
}

body {
    margin: 0;
}

/* ============================                            ========================= */
  /* The div containing the navigation bar, the student picture and the motto  */
.top{
  margin: 0;
  width: 100%;
  height: fit-content;
  background-color: #43d02a;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

}

@media (max-width: 768px){
  .top{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
}

/* ============================                            ========================= */
                        /* The top navigation bar starting here  */

.navBar{
    margin: 3rem;
    padding: 1rem;
    background-color: #dee9dc;
    display: flex;
    color: white;
    border-radius: 50px;
    justify-content: center;
}


@media (max-width: 768px){
  .nav-element{
  
    flex-direction: column;
  }}
.nav-element{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 2rem;
}

.nav-link{
    color: black;
    text-decoration: none;
    font-weight: bold;
    width: 100%;
   
}

@media (max-width: 768px){
  .navBar{
    display: none;
  }
}

.student-motto{
  display: flex;
  flex-direction: row;
  /* justify-content: space-around; */
  gap: 2rem;
}

.motto {
  color: white;
  font-size: 50px;
  font-weight: bold;
  justify-content: center;
  margin: auto;
  text-align: center;
 
}

@media (max-width: 768px){
  .motto{
 font-size: large;

  }}

.start-elimufund-button{
  width: 100%;
      height: 50px;
      border-radius: 10px;
      border: none;
      background-color: rgb(255, 255, 255);
      font-weight: bold;
      font-size: medium;
      color: rgb(0, 0, 0);
      cursor: pointer;
    
}

.start-elimufund-button:hover{
  color: white;
  background-color: #006400;
}

/* ============================                            ========================= */
                        /* The mobile navigation bar starting here  */

@media (max-width: 768px) {
  .mobile-navbar {
    display: block;
    text-align: right;
    width: fit-content;
    height: auto;
    border-radius: 1rem;
    position: absolute;
    background-color: #43d02a;
    margin-top: 0;
  }
}

@media (min-width: 769px) {
  .mobile-navbar {
    display: none;
  }
}

.mobile-navbar .mobile-navIcon {
  color: white;
  position: relative;
  margin-right: 255px;
  background-color: rgb(22, 58, 36);

}

.mobile-navbar.show{
  opacity: 1;
}

.mobile-navbar .nav-element{
  text-align: center;
  width: 100%;
  margin-bottom: 10px;
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.mobile-navbar .nav-link {
  color:white;
  font-weight: bold;
 
}

.mobile-navbar .nav-link:hover{
  background-color:#0a3802;
  font-weight: bold;
  width: 100%;
  border: 1px solid black;
  color: white;
}

.mobile-navbar .search-icon{
  color:white;
  font-weight: bold;
}

.language-dropdown{
  color:rgb(0, 0, 0);
  font-weight: bold;
}

.mobile-navIcon.show {
  transform: rotate(90deg);
  margin-right: 255px;
}

/* ============================                            ========================= */
                        /* The search icon for the navigation bar starting here  */
.search-icon{
  color: black;
  font-weight: bold;
}

.search-icon:hover{
  cursor: pointer;
}

/* ============================                            ========================= */
                        /* The lanhuage navigation element of the navigation bar starting here  */

.language-dropdown{
  /* color: black; */
  font-weight: bold;
  position: relative;
  cursor: pointer;
}

.language-dropdown-content{
  display: none;
  position: absolute;
  min-width: 160px;
  z-index: 1;
}

.language-dropdown:hover .language-dropdown-content{
  display: block;
  margin-bottom: 10px;
  color: black;
}

.language-dropdown-content li{
list-style: none;
margin-bottom: 10px;
}

/* ============================                            ========================= */
             /* The navigation link (li) of the navigation bar starting here  */
.nav-link:hover{
font-size: larger;
color: #43d02a;
font-stretch: expanded;
transition: color .3s ease-in-out;
}

/* ============================                            ========================= */
         /* The picture of the student in the top div starting here  */

.nav-student{
  width: 647px ;
  height:380px;
  margin-left: 4rem;
  display: flex;
}

@media (max-width: 768px){
  .nav-student{
  width: auto;
  height: auto;
  margin: auto;
  padding-top: 35px;
  display: none;
  }
  }

.student-image{
  width: 100%;
  height: 100%;

}

/* ============================                            ========================= */
    /* The div containing the cards for testimonies and donation starting here  */

.root{
    display:inline-block;
    /* flex-direction:row; */
    padding: 10px;
    align-items: center;
    justify-content: center;
    }
    
    @media (max-width: 768px){
      .root{
        display: inline-block;
        width: fit-content;
        /* flex-direction: column; */
        padding: 10px;
        
      }
    }
    
    @media (max-width: 768px){
      .card{
        flex-direction: column;
        width: 100%;
        align-items: center;
        margin-bottom: 50px;
      }
    }

    /* ============================                            ========================= */
          /* The card that contains testimonies anddonation story starting here  */

    .card{
     border: 1px solid #43d02a;
     padding-left: 1px;
     margin-left: 2rem;
     margin-right: 2rem;
     border-radius: 10px;
     text-align: center;
     height: fit-content;
     width:250px;
     
    }
    
    /* .card-header{
      padding: 5px;
      height: 20%;
    
    } */
    
    .istitution-name{
      color: #2a43d0;
      font-size: medium;
      font-weight: bold;
      
      }
    
    .card-header-testimonies{
      padding: 2px;
      height: 30%;
    }
    
    .card-header-testimonies p{
    color: #2a43d0;
    font-size: medium;
    font-weight: bold;
    
    }

     /* ============================                            ========================= */
           /* The div containing cards for the ongoing campaign starting here  */

    .ongoing-campaign{
      text-align: center;
      font-size: larger;
      font-weight: bold;
      margin-top: 50px;
      margin-bottom: 50px;
    }

    .fundraiserName{
      color: #43d02a;
      font-weight: bold;
    }

     /* ============================                            ========================= */
           /* The div containing cards for the testimonies starting here  */

    .testimonies{
      text-align: center;
      font-size: larger;
      font-weight: bold;
      margin-top: 50px;
      margin-bottom: 50px;
    }

     /* ============================                            ========================= */
                                  /* The donation starting here  */
    
    .donate-btn{
      width: 80%;
      height: 50px;
      border-radius: 10px;
      border: none;
      background-color: #43d02a;
      font-weight: bold;
      font-size: larger;
      color: white;
      cursor: pointer;
      margin-bottom: 10px;
    
    }
    .donate-btn:hover{
      background-color: #006400;
    }

     /* ============================                            ========================= */
                                  /* The card image starting here  */
    
    .card-img{
      width: 35%;
      height: 35%;
    }

    .student-img-top{
      width: 100%;
      height: 100%;
    }

    .uni-card-img{
      margin-top: 10px;
      width: 40%;
      height: 40%;
    }

    /* ============================                            ========================= */
                /* The progress bar for the donation starting here  */
    
    .fund-progress{
      width: 50%;
      border-radius: 5px;
      height: 15px;
      margin-bottom: 2rem;
      background-color: white;
      border: none;
    }
    
    .fund-progress::-webkit-progress-value{
      background-color:#43d02a ;
      border-radius: 5px;
      height: 7px;
    }
    
    .fund-progress::-webkit-progress-bar{
      background-color: #ecd8d8;
      border-radius: 5px;
      height: 15px;
    }
    
    @media (max-width: 768px){
      .fund-progress::before{
        width: fit-content;
        text-align: center;
        
      }
    }

    /* ============================                            ========================= */
          /* The value of the fund raised for the donation progress bar starting here  */
    .fund-progress::before{
      content:  attr(value) "% " "fund raised";
      width: fit-content;
      font-size: medium;
      font-weight: bold;
      color: #43d02a;
    
    }

    /* ============================                            ========================= */
                                             /*SignUp  */

   
    
  
                                  /* footer is starting here */
 
    .footer{
      display:flex;
      padding: 10px;
     
      height: 20%; 
      width: 100%;
      bottom: 0;
      left: 0;
      right: 0;
      text-align: center;
      margin-top: 10%;
      background-color: aliceblue;
      justify-content: space-around;
      }
      
      @media (max-width: 768px){
        .footer{
          flex-direction: column;
        }
      }
    
      .footer-component{
        padding: 5px;
        margin-right: 15px;
        margin-left: 10px;
        border-radius: 10px;
        text-align: center;
        height: fit-content;
      }

      .footer-component li{
        list-style: none;
        align-items: center;
        display: flex;
        padding: 5px;
        gap: .5rem;
      }

      .icons{
       color: #66db51;
        
      }